<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="dataSource" class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
        <property name="driverClass" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost/spring_of_toby"/>
        <property name="username" value="root"/>
        <property name="password" value="1234"/>
    </bean>

    <bean id="userDao" class="dao.UserDaoJdbc">
        <property name="dataSource" ref="dataSource"/> <!--UserDao 내에 아직 jdbcContext 를 적용하지 않은 메소드가 있어서 제거 하지 않음-->
    </bean>

    <bean id="userService" class="service.UserServiceImpl">
        <property name="userDao" ref="userDao"/>
        <property name="mailSender" ref="mailSender"/>
    </bean>

    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager" >
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="mailSender" class="test.DummyMailSender"/>

    <!--트랜잭션 어드바이스 빈 설정-->
    <bean id="transactionAdvice" class="service.TransactionAdvice">
        <property name="transactionManager" ref="transactionManager"/>
    </bean>

    <!--포인트컷 빈 설정-->
    <bean id="transactionPointcut" class="service.NameMatchClassMethodPointcut">
        <property name="mappedClassName" value="*ServiceImpl" /> <!--클래스 이름 패턴-->
        <property name="mappedName" value="upgrade*" /> <!--메소드 이름 패턴-->
    </bean>

    <!--어드바이저 설정-->
    <bean id="transactionAdvisor" class="org.springframework.aop.support.DefaultPointcutAdvisor">
        <property name="advice" ref="transactionAdvice" />
        <property name="pointcut" ref="transactionPointcut"/>
    </bean>

    <!--프록시 자동생성 설정-->
    <bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator" />

    <!--테스트용 UserService-->
    <!--스태틱 멤버 클래스는 $로 지정한다-->
    <bean
            id="testUserService"
            class="test.UserServiceTest$TestUserServiceImpl"
            parent="userService"
    />
</beans>